<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <OutputType>Exe</OutputType>
    <TargetFramework>net6.0</TargetFramework>
  </PropertyGroup>

  <ItemGroup>
    <Reference Include="EngineAssembly">
      <HintPath>.Engine\EngineAssembly.dll</HintPath>
    </Reference>
  </ItemGroup>

  <ItemGroup>
    <!-- Add any other dependencies you might need here -->
  </ItemGroup>

  <ItemGroup>
    <Compile Include="**\*.cs" />
  </ItemGroup>

</Project>
